.space {
    /* border:greenyellow 2px solid; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* max-width: 1400px; */
}

.lefthalf {
    width: 65%;
    /* min-width: 700px; */

    background-color: black;
    height: 94vh;
}

.righthalf {
    width: 30%;
    /* min-width: 500px; */
    height: 94vh;
    background-color: gray;

}



