.lefthalf{
  width: 70em;
  background-color:black;
  height: 100em;
}
.righthalf{
 width: 30em;
 background-color: gray;
 height: 100em;
}

.card-container {
  display: flex;
  flex-direction: column;
  background: #6F6B6B;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  border-color: #A64EED;
  border-width: medium;
}