.question-card{
    font-size: 1rem !important;
    max-height: 89vh;
    overflow-y: scroll;
    padding: 10px !important;
}
.test-case-card{
    font-size: 1rem !important;

}


.button-group-card > .ant-card-body{
    padding: 10px !important;
}

.editor-card > div {
    height: 100%;
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 20px;
}

.Resizer:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 0;
    margin: 0 -2px;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 8px solid rgba(200, 200, 200, 1);
    border-right: 8px solid rgba(200, 200, 200, 1);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}